# .coveragerc to control coverage.py
[run]
source = pandas_datareader
branch = True
include = */pandas_datareader/*
omit =
    */_version.py
    */yahoo/__init__.py
    */yahoo/actions.py
    */yahoo/components.py
    */yahoo/daily.py
    */yahoo/headers.py
    */yahoo/options.py
    */yahoo/quotes.py


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
    raise ImmediateDeprecationError
    # Ignore pass
    pass
include = */pandas_datareader/*
omit =
    */_version.py
    */yahoo/__init__.py
    */yahoo/actions.py
    */yahoo/components.py
    */yahoo/daily.py
    */yahoo/headers.py
    */yahoo/options.py
    */yahoo/quotes.py
ignore_errors = True
